 .u-section-1 {
  background-image: url("images/pexels-photo-5668765.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-group-1 {
  width: 629px;
  min-height: 290px;
  margin: 60px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 30px 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-1 .u-group-1 {
    width: 460px;
    min-height: 248px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 779px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 56px 570px 0 0;
}

.u-section-2 .u-line-1 {
  margin-top: 20px;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center;
  margin-left: 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 37px;
  margin-bottom: 60px;
  margin-left: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 560px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 19px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 0 auto 0 11px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 37px auto 0 10px;
}

.u-section-2 .u-icon-1 {
  font-size: 1.3572em;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: -4px;
}

.u-section-2 .u-image-1 {
  min-height: 560px;
  background-image: url("images/g6929cd8d62efac50d974efdee84ff8c92bf2b9c0f12ff12f94ddb60732f4da926871e533a3a4ea17f8bf4388775c74631addcfa2d5d216126fe63606a54a94ab_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-2 .u-line-1 {
    margin-left: initial;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 462px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 573px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    min-height: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 241px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 11px;
    margin-left: 155px;
  }

  .u-section-2 .u-image-1 {
    min-height: 693px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 755px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 318px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 10px;
    margin-left: 57px;
  }

  .u-section-2 .u-image-1 {
    min-height: 334px;
  }
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before,
.u-section-2 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-4b1b-15:not([data-block-selected]):not([data-cell-selected]),
.u-block-4b1b-15:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-4b1b-15:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-4b1b-15:not([data-block-selected]):not([data-cell-selected]).u-block-4b1b-15:not([data-block-selected]):not([data-cell-selected]).u-block-4b1b-15:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-4b1b-15:not([data-block-selected]):not([data-cell-selected]).u-block-4b1b-15:not([data-block-selected]):not([data-cell-selected]).u-block-4b1b-15:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-4b1b-15:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-4b1b-15:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 856px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 113px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 1px 61px 0 -1px;
}

.u-section-3 .u-list-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 613px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-2 {
  padding: 22px 30px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: -56px 183px 0 94px;
}

.u-section-3 .u-text-3 {
  margin: 15px 9px 0 85px;
}

.u-section-3 .u-container-layout-3 {
  padding: 22px 30px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: -56px 183px 0 94px;
}

.u-section-3 .u-text-5 {
  margin: 15px 9px 0 85px;
}

.u-section-3 .u-container-layout-4 {
  padding: 22px 30px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: -56px 183px 0 94px;
}

.u-section-3 .u-text-7 {
  margin: 15px 9px 0 85px;
}

.u-section-3 .u-container-layout-5 {
  padding: 22px 30px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-8 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: -56px 183px 0 94px;
}

.u-section-3 .u-text-9 {
  margin: 15px 9px 0 85px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 433px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 93px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 390px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 5px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 81px;
    margin-left: 98px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-right: 0;
    margin-left: 102px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 5px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 81px;
    margin-left: 98px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 16px;
    margin-right: 0;
    margin-left: 102px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 5px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 81px;
    margin-left: 98px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 16px;
    margin-right: 0;
    margin-left: 102px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 5px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 81px;
    margin-left: 98px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 16px;
    margin-right: 0;
    margin-left: 102px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 442px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 94px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 94px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 94px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 94px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 508px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 854px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 82px 786px 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: 47px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 579px;
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-6531728.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -110px 0 0 147px;
}

.u-section-4 .u-text-3 {
  margin: 20px 0 0 147px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-5668774.jpeg");
  background-position: 50% 0%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -110px 0 0 147px;
}

.u-section-4 .u-text-5 {
  margin: 20px 0 0 147px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-3760514.jpeg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -110px 0 0 147px;
}

.u-section-4 .u-text-7 {
  margin: 20px 0 0 147px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 586px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 366px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -110px;
    margin-left: 147px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 147px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -110px;
    margin-left: 147px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 147px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -110px;
    margin-left: 147px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 147px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 186px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 515px;
}

.u-section-5 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: none;
  width: 457px;
  margin: 32px auto 0;
}

.u-section-5 .u-accordion-1 {
  width: 893px;
  margin: 32px auto 60px;
}

.u-section-5 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-5 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-5 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-5 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-5 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-5 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 34px;
    margin-right: 122px;
    margin-left: 254px;
  }

  .u-section-5 .u-accordion-1 {
    margin-top: 64px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 144px;
    margin-right: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-accordion-1 {
    margin-top: 91px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 452px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 40px auto 0;
}

.u-section-6 .u-icon-1 {
  width: 48px;
  height: 48px;
  margin: 27px auto 0 456px;
  padding: 0;
}

.u-section-6 .u-icon-2 {
  width: 48px;
  height: 48px;
  margin: -48px auto 0 516px;
  padding: 0;
}

.u-section-6 .u-icon-3 {
  width: 48px;
  height: 48px;
  margin: -48px auto 0 576px;
  padding: 0;
}

.u-section-6 .u-icon-4 {
  width: 48px;
  height: 48px;
  margin: -48px auto 0 636px;
  padding: 0;
}

.u-section-6 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 3px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 1px auto 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 3px auto 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  margin: 34px auto 60px;
}

.u-section-6 .u-icon-5 {
  font-size: 1.3572em;
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: -4px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 61px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 34px;
    margin-left: 355px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 415px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 476px;
  }

  .u-section-6 .u-icon-4 {
    margin-left: 537px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-text-4 {
    width: auto;
  }

  .u-section-6 .u-text-5 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 247px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 306px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 366px;
  }

  .u-section-6 .u-icon-4 {
    margin-left: 425px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 27px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 55px;
    margin-right: 55px;
  }

  .u-section-6 .u-text-5 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 144px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 212px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 280px;
  }

  .u-section-6 .u-icon-4 {
    margin-left: 348px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 34px;
    margin-left: 204px;
  }

  .u-section-6 .u-text-3 {
    margin-right: auto;
    margin-left: 166px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 2px;
    margin-left: 119px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 81px;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 151px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 60px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 61px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 119px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 177px;
  }

  .u-section-6 .u-icon-4 {
    margin-right: 58px;
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    margin-top: 28px;
    margin-left: 128px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 2px;
    margin-left: auto;
  }

  .u-section-6 .u-text-4 {
    margin-top: 3px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 10px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 31px;
    margin-right: 50px;
    margin-left: auto;
  }
}

.u-section-6 .u-btn-1,
.u-section-6 .u-btn-1:before,
.u-section-6 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-6 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}