 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/g019e451954ad62962e47beb90e79989e4028e1d14767da8e99fbeabbd8856e5e33b963d5ccd83a69648f37dd27f56c3b470a1699bad76664f9b841beef42d6de_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 784px;
}

.u-section-1 .u-image-1 {
  width: 77px;
  height: 94px;
  margin: 51px auto 0 20px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  min-height: 423px;
  height: auto;
  margin: 131px -21px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  letter-spacing: 3px;
  margin: 43px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 35px 28px 0 auto;
  padding: 9px 29px 11px 27px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.6429em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1 .u-image-1 {
    width: 63px;
    margin-top: 46px;
    margin-left: 16px;
  }

  .u-section-1 .u-group-1 {
    width: 553px;
    margin-top: 79px;
    margin-bottom: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 658px;
  }

  .u-section-1 .u-image-1 {
    width: 49px;
    margin-top: 54px;
    margin-left: 13px;
  }

  .u-section-1 .u-group-1 {
    width: 575px;
    margin-top: -17px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 834px;
  }

  .u-section-1 .u-image-1 {
    width: 46px;
    margin-left: 9px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 70px;
    margin-bottom: 85px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 740px;
  }

  .u-section-1 .u-image-1 {
    width: 75px;
    margin-top: 56px;
    margin-left: 6px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 28px;
    margin-bottom: 100px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 6px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 35px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 531px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 55px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 476px;
}

.u-section-2 .u-image-1 {
  height: 513px;
  margin-top: -139px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 476px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: -11px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 419px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 419px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 35px;
    position: relative;
  }

  .u-section-2 .u-text-2 {
    margin-top: 10px;
    margin-bottom: 35px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-2 .u-image-1 {
    object-position: 65.74% 50%;
    background-position: 65.74% 50%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 385px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 510px;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 149px;
  height: auto;
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  position: relative;
  margin: 15px 20px 0;
}

.u-section-3 .u-text-2 {
  position: relative;
  letter-spacing: 3px;
  font-size: 1.125rem;
  margin: 20px 20px 15px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 236px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  position: relative;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
  padding: 10px;
}

.u-section-3 .u-text-3 {
  position: relative;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 25px 20px 0;
}

.u-section-3 .u-text-4 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 0;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 236px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 29px auto 0;
  padding: 10px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 26px 28px 0 12px;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  margin: 19px 20px 0;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 236px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 30px auto 0;
  padding: 10px;
}

.u-section-3 .u-text-7 {
  position: relative;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 25px 20px 0;
}

.u-section-3 .u-text-8 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 25px;
}

.u-section-3 .u-layout-cell-4 {
  background-image: none;
  min-height: 236px;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 29px auto 0;
  padding: 10px;
}

.u-section-3 .u-text-9 {
  position: relative;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 25px 20px 0;
}

.u-section-3 .u-text-10 {
  position: relative;
  font-size: 0.875rem;
  margin: 20px 20px 25px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-icon-2 {
    position: relative;
  }

  .u-section-3 .u-text-5 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-icon-3 {
    position: relative;
  }

  .u-section-3 .u-text-7 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-icon-4 {
    position: relative;
  }

  .u-section-3 .u-text-9 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 360px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-3 .u-group-1 {
    width: 338px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 47px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 283px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 236px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 236px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 236px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 236px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

.u-section-3 .u-icon-1,
.u-section-3 .u-icon-1:before,
.u-section-3 .u-icon-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-1.u-icon-1.u-icon-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-1.u-icon-1.u-icon-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-2,
.u-section-3 .u-icon-2:before,
.u-section-3 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
}

.u-section-3 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-2 {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-3,
.u-section-3 .u-icon-3:before,
.u-section-3 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-4,
.u-section-3 .u-icon-4:before,
.u-section-3 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 710px;
}

.u-section-4 .u-text-1 {
  margin: 38px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 50px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 576px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-4 .u-image-1 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/portrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 24px auto 0 108px;
}

.u-section-4 .u-text-3 {
  width: 259px;
  margin: 10px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 576px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-image-2 {
  height: 257px;
  object-position: 50% 60.72%;
  width: 257px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 17px 35px 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 576px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-4 .u-image-3 {
  height: 257px;
  object-position: 50% 46.55%;
  width: 257px;
  background-image: url("images/e916e899-9128-4aac-8760-007d5815c973.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 24px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 23px 53px 0 41px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 475px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 88px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 18px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 475px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 20px;
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 628px;
  }

  .u-section-4 .u-image-1 {
    height: 187px;
    width: 187px;
    margin-top: 4px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: 164px;
    margin-top: 9px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 628px;
  }

  .u-section-4 .u-image-2 {
    height: 187px;
    width: 187px;
  }

  .u-section-4 .u-text-5 {
    width: 154px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 628px;
  }

  .u-section-4 .u-image-3 {
    height: 187px;
    width: 187px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 28px;
    margin-right: 31px;
    margin-left: 18px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1430px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 5px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 23px;
  }

  .u-section-4 .u-text-3 {
    width: 421px;
    margin-top: 12px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: 17px;
    margin-right: 32px;
    margin-left: 50px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 430px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 17px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 4px;
    margin-right: 36px;
    margin-left: 62px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 487px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 18px;
    margin-right: 25px;
    margin-left: 51px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 481px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 36px;
    margin-left: 41px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 469px;
}

.u-section-5 .u-text-1 {
  margin: 52px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 52px;
  margin-bottom: 32px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 293px;
  grid-gap: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin: 0;
}

.u-section-5 .u-text-3 {
  margin: 21px 159px 0 125px;
}

.u-section-5 .u-text-4 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 15px 159px 0 119px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  margin: 0;
}

.u-section-5 .u-text-6 {
  margin: 21px 159px 0 125px;
}

.u-section-5 .u-text-7 {
  font-style: italic;
  font-size: 0.875rem;
  margin: 15px 159px 0 119px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    height: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 377px;
  }

  .u-section-5 .u-text-3 {
    width: 222px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 9px;
    margin-right: 92px;
    margin-left: 87px;
  }

  .u-section-5 .u-text-6 {
    width: 222px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 9px;
    margin-right: 92px;
    margin-left: 87px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-3 {
    margin-top: 18px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 10px;
    margin-right: 32px;
    margin-left: 36px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 18px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 10px;
    margin-right: 32px;
    margin-left: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 20px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-right: 165px;
    margin-left: 153px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 9px;
    margin-right: 165px;
    margin-left: 148px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-left: 20px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 19px;
    margin-right: 165px;
    margin-left: 153px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 9px;
    margin-right: 165px;
    margin-left: 148px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 36px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -4px;
    margin-bottom: 54px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 29px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 26px;
    margin-right: 66px;
    margin-left: 52px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 10px;
    margin-right: 66px;
    margin-left: 47px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 26px;
    margin-right: 66px;
    margin-left: 52px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 10px;
    margin-right: 66px;
    margin-left: 47px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 698px;
}

.u-section-6 .u-text-1 {
  background-image: none;
  width: 391px;
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: none;
  margin: 59px auto 0;
}

.u-section-6 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 77px;
}

.u-section-6 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-6 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-6 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-6 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-6 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-6 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-6 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-6 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 521px;
}

.u-section-7 .u-text-1 {
  margin: 66px auto 0;
}

.u-section-7 .u-icon-1 {
  width: 46px;
  height: 46px;
  margin: 15px auto 0 524px;
  padding: 0;
}

.u-section-7 .u-icon-2 {
  width: 44px;
  height: 44px;
  margin: -45px 515px 0 auto;
  padding: 0;
}

.u-section-7 .u-icon-3 {
  width: 47px;
  height: 47px;
  margin: -45px auto 0 462px;
  padding: 0;
}

.u-section-7 .u-icon-4 {
  width: 45px;
  height: 45px;
  margin: -47px 459px 0 auto;
  padding: 0;
}

.u-section-7 .u-text-2 {
  width: 495px;
  margin: 24px auto 0;
}

.u-section-7 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 18px auto 60px;
  padding: 9px 29px 11px 27px;
}

.u-section-7 .u-icon-5 {
  font-size: 1.6429em;
}

@media (max-width: 1199px) {
  .u-section-7 .u-icon-1 {
    margin-left: 460px;
  }

  .u-section-7 .u-icon-2 {
    margin-right: 490px;
  }

  .u-section-7 .u-icon-3 {
    margin-left: 350px;
  }

  .u-section-7 .u-icon-4 {
    margin-right: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-icon-1 {
    margin-left: 365px;
  }

  .u-section-7 .u-icon-2 {
    margin-right: 365px;
  }

  .u-section-7 .u-icon-3 {
    margin-left: 250px;
  }

  .u-section-7 .u-icon-4 {
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-icon-1 {
    margin-left: 220px;
  }

  .u-section-7 .u-icon-2 {
    margin-right: 220px;
  }

  .u-section-7 .u-icon-3 {
    margin-left: 165px;
  }

  .u-section-7 .u-icon-4 {
    margin-right: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-icon-1 {
    margin-left: 120px;
  }

  .u-section-7 .u-icon-2 {
    margin-right: 120px;
  }

  .u-section-7 .u-icon-3 {
    margin-left: 60px;
  }

  .u-section-7 .u-icon-4 {
    margin-right: 60px;
  }

  .u-section-7 .u-text-2 {
    width: 340px;
  }
}

.u-section-7 .u-btn-1,
.u-section-7 .u-btn-1:before,
.u-section-7 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-7 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-7 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-7 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}